########################example fstab btrfs. to single user machine,archlinux ###############################################
#######################################################################################################
#######################################################################################################
#
# root subvol is mounted using cmline bootloader, not required
#
#
############################## root mounts to not rollback cache/logs ##################################
#
UUID=btrfs_uuid_here	/var/cache         	btrfs     	rw,noatime,compress-force=zstd,ssd,space_cache=v2,subvol=/@cache	0 0
#
UUID=btrfs_uuid_here	/var/log         	btrfs     	rw,noatime,compress-force=zstd,ssd,space_cache=v2,subvol=/@log	0 0
#
#######################################################################################################
#######################################################################################################
#
#
#
#
#######################################################################################################
################################### head home ######################################
#
UUID=btrfs_uuid_here	/home         	btrfs     	rw,noatime,compress-force=zstd,ssd,space_cache=v2,subvol=/@home	0 0
#
#######################################################################################################
#######################################################################################################
#
#
#######################################################################################################
################################# flatpak install --user ###############################
#
UUID=btrfs_uuid_here	/home/USERNAME/.local/share/flatpak         	btrfs     	rw,noatime,compress-force=zstd,ssd,space_cache=v2,subvol=/@flatpak	0 0
#
#######################################################################################################
#######################################################################################################
#
#
#
#
#######################################################################################################
################################# storage folders ################################################
#
UUID=btrfs_uuid_here	/home/USERNAME/Documents	btrfs     	rw,noatime,compress-force=zstd:3,ssd,space_cache=v2,subvol=/@Documents	0 0
#
UUID=btrfs_uuid_here	/home/USERNAME/Music	btrfs     	rw,noatime,compress-force=zstd:3,ssd,space_cache=v2,subvol=/@Music	0 0
#
UUID=btrfs_uuid_here	/home/USERNAME/Pictures	btrfs     	rw,noatime,compress-force=zstd:3,ssd,space_cache=v2,subvol=/@Pictures	0 0
#
UUID=btrfs_uuid_here	/home/USERNAME/Videos	btrfs     	rw,noatime,compress-force=zstd:3,ssd,space_cache=v2,subvol=/@Videos	0 0
#
UUID=btrfs_uuid_here	/home/USERNAME/Downloads	btrfs     	rw,noatime,compress-force=zstd:3,ssd,space_cache=v2,subvol=/@Downloads	0 0
#
#######################################################################################################
#######################################################################################################
#
#
#
#
#########################################################################################################
################################### rootless container #########################################
#
UUID=btrfs_uuid_here	/home/USERNAME/.local/share/docker	btrfs     	rw,noatime,compress-force=zstd:3,ssd,space_cache=v2,subvol=/@Docker	0 0
#
UUID=btrfs_uuid_here	/home/USERNAME/.local/share/containers	btrfs     	rw,noatime,compress-force=zstd:3,ssd,space_cache=v2,subvol=/@Podman	0 0
#
#######################################################################################################
#######################################################################################################
#
#
#
#
#########################################################################################################
######################################## efi mountpoint grub-hardcoded #########################
#
UUID=fat_uuid_here 					/boot/efi	vfat		defaults 0 0
#
#######################################################################################################
#######################################################################################################
#
#
#
#
#########################################################################################################
################## xfs to virtualmachines, better IO performance. store virt-manager images here
#
UUID=xfs_uuid_here	/home/USERNAME/VirtualBox\040VMs	xfs       	rw,noatime,inode64,logbufs=8,logbsize=32k,noquota	0 0
#
#######################################################################################################
#######################################################################################################
#
#
#
#
#######################################################################################################
###################################### tmpfs to yay downloads, into distrobox container ############################
#
tmpfs	/home/USERNAME/.cache/yay	tmpfs    rw,noatime,uid=1000,gid=1000 	0 0
#
#######################################################################################################
#######################################################################################################
